/* MAIN STYLE */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 36px 0 118px 0;
}

/* FONTS */

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import url("https://fonts.googleapis.com/css?family=Marck+Script|Noto+Serif:400i&display=swap");

/* <!-- MAIN MENU --> */

header {
  margin-bottom: 114px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  font-family: "Marck Script Regular", cursive;
  font-weight: 400;
  font-size: 26px;
  color: #feda5e;
  line-height: 32px;
  margin: 0px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-basis: 480px;
  flex-grow: 0;
  flex-shrink: 0;
}

.site-navigation a {
  font-family: "Montserrat Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 200ms linear;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fed136;
}

/* SERVICES */

.section-header-services {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;
}

.sub-header-services {
  font-family: "Noto Serif Regular", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color: #777777;
  text-align: center;
  margin-bottom: 76px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.services-item {
  flex-basis: 290px;
  height: 190px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 0;
}

.services-item:nth-child(1)::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-image: url("../icons/Icon-Basket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 24px;
}

.services-item:nth-child(2)::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-image: url("../icons/Icon-Laptop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 24px;
}

.services-item:nth-child(3)::before {
  content: "";
  display: block;
  width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-image: url("../icons/Icon-Locked.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 24px;
}

.item-header {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 16px;
}

.item-description {
  font-family: "Roboto Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #777777;
  text-align: center;
}

/* FOOTER */

footer {
  margin: 0 auto;
  padding: 110px 0 114px 0;
  background-color: #222222;
}

.background-image-map {
  background-image: url("../icons/Map Image.png");
  position: absolute;
  left: 790px;
  top: 790px;
  width: 614px;
  height: 537px;
  opacity: 0.602;
}

.footer-header-contact-us {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 18px;
}

.sub-header-contact-us {
  font-family: "Noto Serif Regular", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
  margin-bottom: 76px;
}

::placeholder {
  font-family: "Montserrat Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #bbbbbb;
  text-transform: uppercase;
}

.inputs {
  display: flex;
  justify-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
}

input {
  width: 456px;
  height: 52px;
  margin: 0 30px 30px 0;
  padding: 18px 0 18px 0;
  border: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  text-indent: 20px;
}

textarea {
  width: 455px;
  height: 210px;
  padding: 18px 0 18px 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  text-indent: 20px;
  resize: none;
}

button {
  display: flex;
  width: 240px;
  height: 65px;
  margin: 0 auto;
  padding: 0 42px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  text-transform: uppercase;
  transition: color 0.2s linear;
}

button:hover,
button:focus {
  color: #5436fe;
}

input:invalid {
  outline: 0;
  outline-width: 1px;
  border-color: red;
}

input:valid {
  outline: 0;
  outline-width: 1px;
  border-color: green;
}

textarea:invalid {
  outline: 0;
  outline-width: 1px;
  border-color: red;
}

textarea:valid {
  outline: 0;
  outline-width: 1px;
  border-color: green;
}
