.social-networks__facebook {
  @extend %socials;
  left: 78px;

  &-icon {
    @extend %socials-icons;
    @include icons(13px, 26px);
  }
}

.social-networks__twitter {
  @extend %socials;
  left: 135px;

  &-icon {
    @extend %socials-icons;
    @include icons(26px, 22px);
  }
}

.social-networks__pinterest {
  @extend %socials;
  left: 192px;

  &-icon {
    @extend %socials-icons;
    @include icons(21px, 26px);
  }
}

.social-networks__instagram {
  @extend %socials;
  left: 249px;

  &-icon {
    @extend %socials-icons;
    @include icons(26px, 26px);
  }
}
