.social-networks__facebook {
  left: 78px;

  &-icon {
    width: 13px;
    height: 26px;
  }
}

.social-networks__twitter {
  left: 135px;

  &-icon {
    width: 26px;
    height: 22px;
  }
}

.social-networks__pinterest {
  left: 192px;

  &-icon {
    width: 21px;
    height: 26px;
  }
}

.social-networks__instagram {
  left: 249px;

  &-icon {
    width: 26px;
    height: 26px;
  }
}
