/* MAIN STYLE */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section__main-header {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  text-align: center;
  margin-bottom: 18px;
}

.secondary-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.text-description {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.text-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.item-icons {
  display: block;
  width: 60px;
  height: 32px;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 208px;
  width: 56px;
  height: 56px;
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.socials-icons {
  display: inline-block;
  fill: #f38181;
  -webkit-transition: fill 200ms linear;
  -o-transition: fill 200ms linear;
  transition: fill 200ms linear;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  color: #fce38a;
  cursor: pointer;
}

.wrapper-background {
  min-height: 1000px;
  background-image: -webkit-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url("../img/background.jpg");
  margin-bottom: 46px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .wrapper-background {
    min-height: 1000px;
    background-image: -webkit-linear-gradient(
        90deg,
        rgba(252, 227, 138, 0.8) 0%,
        rgba(243, 129, 129, 0.8) 100%
      ),
      url("../img/background@2x.jpg");
    margin-bottom: 46px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 26px 0 12px 0;
}

/* <!-- MAIN MENU --> */

.page-header {
  margin-bottom: 172px;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  line-height: 36px;
  margin: 0px;
}

.site-navigation {
  -ms-flex-preferred-size: 488px;
  flex-basis: 488px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.site-navigation__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
  text-transform: uppercase;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
  color: #fce38a;
}

.site-navigation__item ::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fce38a;
  margin: 0 auto;
  margin-top: 12px;
  -webkit-transition: 200ms linear;
  -o-transition: 200ms linear;
  transition: 200ms linear;
  opacity: 0;
}

.site-navigation__item:hover ::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #fce38a;
  margin: 0 auto;
  margin-top: 12px;
  opacity: 1;
}

.site-navigation__shopping-cart {
  background-image: url("../icons/shopping-cart.png");
  width: 18px;
  height: 15px;
  cursor: pointer;
}

.site-navigation__magnifying-glass {
  background-image: url("../icons/magnifying-glass.png");
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* BANNER */

.banner__text {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;
}

.banner__header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 140px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 110px;
}

.banner__button {
  display: block;
  padding: 0;
  margin: 0 auto 230px auto;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  width: 164px;
  height: 44px;
}

/* SERVICE */

.service {
  margin-bottom: 86px;
}

.service__secondary-header {
  margin-bottom: 64px;
}

.service__secondary-header:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}

.service__list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service__item {
  -ms-flex-preferred-size: 350px;
  flex-basis: 350px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service__item--alarm {
  background-image: url("../icons/icon-1.png");
}

.service__item--line-graph {
  background-image: url("../icons/icon-2.png");
}

.service__item--computer {
  background-image: url("../icons/icon-3.png");
}

.service__item--book {
  background-image: url("../icons/icon-4.png");
}

.service__item--home {
  background-image: url("../icons/icon-5.png");
}

.service__item--image {
  background-image: url("../icons/icon-6.png");
}

.service__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.service__item--header {
  text-transform: uppercase;
}

.service__item--description {
  font-weight: 400;
}

/* OUR TEAM */

.our-team::after {
  content: "";
  display: block;
  width: 1200px;
  height: 1px;
  background-color: #e5e5e5;
  margin: 0 auto;
  margin-top: 78px;
}

.our-team__secondary-header {
  margin-bottom: 42px;
}

.our-team__secondary-header:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 40px;
}

.our-team__description {
  font-weight: 400;
  text-align: center;
  margin-bottom: 90px;
}

.our-team__list {
  position: relative;
}

.our-team__member {
  -ms-flex-preferred-size: 380px;
  flex-basis: 380px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 0px;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  -o-transition: transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.our-team__overlay {
  position: absolute;
  width: 380px;
  height: 470px;
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  display: none;
}

.our-team__social-networks {
  position: relative;
}

.social-networks__facebook {
  left: 78px;
}

.social-networks__facebook-icon {
  width: 13px;
  height: 26px;
}

.social-networks__twitter {
  left: 135px;
}

.social-networks__twitter-icon {
  width: 26px;
  height: 22px;
}

.social-networks__pinterest {
  left: 192px;
}

.social-networks__pinterest-icon {
  width: 21px;
  height: 26px;
}

.social-networks__instagram {
  left: 249px;
}

.social-networks__instagram-icon {
  width: 26px;
  height: 26px;
}

.our-team__member:hover .our-team__overlay {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  display: block;
}

.socials:hover {
  background-color: #f38181;
  cursor: pointer;
}

.socials:hover .socials-icons {
  fill: #ffffff;
}

.our-team__image {
  margin-bottom: 30px;
}

.our-team__name {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.our-team__position {
  font-weight: 300;
  text-align: center;
}

/* FOOTER  */

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__copyright {
  padding: 22px 0;
}

.footer__highlited-text {
  color: #f38181;
}

.footer__form {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  padding: 10px 0;
}

.footer__input {
  height: 41px;
  padding: 10px 0 10px 12px;
  border-right: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
}

.footer__button {
  background-color: #95e1d3;
  padding: 12px 32px;
  border: none;
  -webkit-transition: color 200ms linear;
  -o-transition: color 200ms linear;
  transition: color 200ms linear;
}
